
html
  head
     title("Hello, world") 
     script(src="/js/create.js")
     script(src="/js/update.js")
     script(src="/js/read.js")
     script(src="/js/delete.js")
script.
  var URL='http://127.0.0.1:3000/';
  // var URL='http://203.242.35.31:3000/';

  // var idVal = <%- JSON.stringify(createURL) %>;

  //console.log(idVal);

  console.log(createURL);
  console.log("idVal");
  
  var d = new Date();
  console.log(d);
  var data = {
    flow: "",
    x: "",
    y: "",
    time: "",
    job_id: "",
    task_number: ""
  }
body 
<p id="url"></p>
<p id="status"></p>
br
br
button(onclick='my_create()') 1. Create
br
br
button(onclick='my_read()') 2. Read
br
br
button(onclick='my_update()') 3. Update
br
br
button(onclick='my_delete()') 4. Delete
br
br
<p id="p1"></p>