<!DOCTYPE html>
<html>
  <title></title>
  <head></head>
  <body>
      <h1>Welcome to <% title %></h1>

  <a href='/item/main'>Nomal REUTFul API Example</a> 
  <br>
  <br>
  <a href='/json/main'> Json RESTFul API Start</a>
  </body>
</html>