html
    head

script.
  var inputString;
  var items;

    var my_create = function() {
    inputString = prompt('Input created Item Name', 'Sample String'); 

    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "1");
  
    var result = document.createElement("input");
    result.setAttribute("name","data");
    result.setAttribute("value",inputString);
    form.appendChild(result);
    
    document.body.appendChild(form);

    form.submit();

  }

  var my_read = function() {

    var form = document.createElement("form");
    form.setAttribute("method", "get");
    form.setAttribute("action", "2");
    document.body.appendChild(form);
    form.submit();

    //console.log(items);
  }
  var my_update = function() {
    inputString1 = prompt('Input old Item Name', 'Sample String'); 
    inputString2 = prompt('Input new Item Name', 'Sample String'); 


    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "3");

    var result1 = document.createElement("input");
    result1.setAttribute("name","oldData");
    result1.setAttribute("value",inputString1);

    var result2 = document.createElement("input");
    result2.setAttribute("name","newData");
    result2.setAttribute("value",inputString2);

    form.appendChild(result1);
    form.appendChild(result2);

    document.body.appendChild(form);

    form.submit();
  }
  var my_delete = function() {
    inputString = prompt('Input deleted Item Name', 'Sample String'); 


    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "4");

    var result = document.createElement("input");
    result.setAttribute("name","data");
    result.setAttribute("value",inputString);
    form.appendChild(result);

    document.body.appendChild(form);

    form.submit();
  }

  var a = function() {
    inputString = prompt('Input Item Name', 'Sample String'); 

    document.getElementById("String").innerHTML=inputString;
    
  }
body    
<a href="/">First Page</a><br>
<a href="/item/main">Item Main</a>
<p id="String">Hello World!</p>

button(onclick='a()') test
br
br
button(onclick='my_create()') 1. Create
br
br
button(onclick='my_read()') 2. Read
br
br
button(onclick='my_update()') 3. Update
br
br
button(onclick='my_delete()') 4. Delete
br
br




#{items}
